---
import { config } from '../config';
import { logoRss, logoMastodon, logoTwitter, logoGithub } from 'ionicons/icons';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} {config.author.name}. All rights reserved.
	<div class="social-links">
		<a href="/rss.xml" title="RSS Feed">
			<ion-icon name="logo-rss" aria-hidden="true"></ion-icon>
		</a>
		<a href="https://m.webtoo.ls/@astro" target="_blank" rel="noopener">
			<span class="sr-only">Follow Astro on Mastodon</span>
			<ion-icon name="logo-mastodon" size="large"></ion-icon>
		</a>
		<a href="https://twitter.com/astrodotbuild" target="_blank" rel="noopener">
			<span class="sr-only">Follow Astro on Twitter</span>
			<ion-icon name="logo-twitter" size="large"></ion-icon>
		</a>
		<a href="https://github.com/withastro/astro" target="_blank" rel="noopener">
			<span class="sr-only">Go to Astro's GitHub repo</span>
			<ion-icon name="logo-github" size="large"></ion-icon>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
		transition: all 0.2s;
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
		transform: translateY(-2px);
	}

	/* Responsive layout */
	@media (max-width: 720px) {
		footer {
			padding: 2em 1em;
		}
		.footer-content {
			flex-direction: column;
			gap: 1.5em;
			text-align: center;
		}
		.social-links {
			justify-content: center;
		}
	}

</style>
